/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: #ebe3d8;
}
header{
  display: flex;
  height: auto;
  flex-direction: row-reverse;
  justify-content: center;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 5em;
  padding-top: 47px;
}
img{
  display: block;
  max-width: 100%;
  height: 400px;
}
p{
  font-family: 'Luckiest Guy', cursive;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
