body{
    font-family: 'Oswald', sans-serif;
    h1{
        text-align: center;
        font-size: 4em;
    }
    .dateInput{
        text-align: center;
    }
    .main{
        display: flex;
        padding-top: 50px;
        .image{
            
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            img{
                height: 600px;
                width: 100%;
            }
            h2{
                margin: 0 auto;
                
            }
        }
        .desc{
            flex-basis: 40%;
            // display: flex;
            // flex-direction: column;
            text-align: center;
            p{
                font-size: 1.4em;
            }
        }
    }
}